.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

    /* Imagen de fondo */
    background-image: url('https://images.unsplash.com/photo-1607798748738-b15c40d33d57?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    /* Similar a 'object-cover' */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita */
    background-attachment: fixed;
    /* Fija la imagen al fondo */
}

@media only screen and (max-width: 600px) {
    .body {
        background-image: url('https://images.unsplash.com/photo-1635606511031-6ef8c6cbf9f9?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    }
}

/*background-image: url('https://images.unsplash.com/photo-1675495666589-94cdafbcfcc8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');*/

@keyframes wave {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.animate-wave {
    display: inline-block;
    animation: wave 4s ease-out infinite;
}

